html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="user"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.disclaimer {
    font-size:11px;
}

#result {
    font-weight: bold;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    padding-top:8px;
    padding-bottom: 8px;
    display: none;
}

#result p {
    padding-top:5px;
    padding-bottom: 2px;
}
